<p id="notice"><%= notice %></p>

<p><%= link_to 'New Picture', new_picture_path %></p>

<% @pictures.each do |picture| %>
  <p class = "post">
    <%= picture.user.name %><br>
    <%= image_tag picture.image.url %><br>
    <%= picture.content %><br>
    <%= picture.created_at %><br>
    <%= link_to 'Show', picture %><br>
    <%= link_to 'Edit', edit_picture_path(picture) %><br>
    <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %><br>
  </p>
<% end %>